<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <context-param>
    <param-name>rediretPage</param-name>
    <param-value>/index.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>uncheckedUrls</param-name>
    <param-value>/register.jsp,/error.jsp,/index.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>checkinCredits</param-name>
    <param-value>10</param-value>
  </context-param>
  <servlet>
    <servlet-name>CheckCodeServlet</servlet-name>
    <servlet-class>com.skyoung.mvcapp.checkcode.CheckCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckCodeServlet</servlet-name>
    <url-pattern>/CheckCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.skyoung.mvcapp.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>*.user</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.skyoung.mvcapp.servlet.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>*.home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MemberServlet</servlet-name>
    <servlet-class>com.skyoung.mvcapp.servlet.MemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberServlet</servlet-name>
    <url-pattern>*.member</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StafftypeServlet</servlet-name>
    <servlet-class>com.skyoung.mvcapp.servlet.StafftypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StafftypeServlet</servlet-name>
    <url-pattern>*.stafftype</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StaffServlet</servlet-name>
    <servlet-class>com.skyoung.mvcapp.servlet.StaffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffServlet</servlet-name>
    <url-pattern>*.staff</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WorkoutRecordServlet</servlet-name>
    <servlet-class>com.skyoung.mvcapp.servlet.WorkoutRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WorkoutRecordServlet</servlet-name>
    <url-pattern>*.workoutrecord</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FinacialRecordServlet</servlet-name>
    <servlet-class>com.skyoung.mvcapp.servlet.FinacialRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinacialRecordServlet</servlet-name>
    <url-pattern>*.finacialrecord</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>AuthorityServlet</servlet-name>
  	<servlet-class>com.skyoung.mvcapp.servlet.AuthorityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AuthorityServlet</servlet-name>
  	<url-pattern>*.authority</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.skyoung.mvcapp.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
  	<filter-name>AuthorityFilter</filter-name>
    <filter-class>com.skyoung.mvcapp.filter.AuthorityFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthorityFilter</filter-name>
    <url-pattern>*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
</web-app>